<template>
  <ul class="inline-list">
    <li><router-link to="/">Home</router-link></li>
    <li><router-link to="/portfolio">Portfolio</router-link></li>
    <li><router-link to="/contact">Contact</router-link></li>
    <li><router-link to="/about">About</router-link></li>
  </ul>
</template>

<script>
export default {
  name: "Navigation"
}
</script>

<style scoped>
/* Navigation */
.inline-list {
	overflow: hidden;
}
.inline-list li {
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;		
}

@media only screen and (max-width: 768px) {
	.inline-list > li:first-child {
		margin-left: 0;
	}
}
@media only screen and (min-width: 768px) {
	.inline-list > li {
		display: block;
		float: left;
		margin-left: 15px;
	}
	.inline-list > li:first-child {
		margin-left: 0;
	}
}
</style>

